/* Typography, Noto Sans and Spline Sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Spline+Sans:wght@400;700&display=swap");

/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Spline Sans', sans-serif; */

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  /* font-family: "Spline Sans", sans-serif; */
  font-weight: 400;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Color */

:root {
  --green-tp: #03ac0e; /* Hijau Tokopedia */
  --green-uc: #25b34d; /* Hijau Union Coconut */
}

h1 {
  color: var(--green-tp);
}
