.detail-section {
  background: black;
  height: 100%;
  padding-bottom: 48px;
}

.detail-food-name {
  color: white;

  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}

.detail-food-area {
  display: flex;
  gap: 12px;
}

.detail-food-left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-food-img {
  width: 500px;

  aspect-ratio: 1.11 / 1;

  border-radius: 16px;

  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, 0.65);
}

.detail-food-right {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 8px;

  justify-content: space-between;
}

.detail-food-desc {
  color: white;
  font-size: 24px;
}

.detail-food-stats {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
}

.detail-icons-group {
  display: flex;
  gap: 24px;
}

.desc-ingredients {
  display: flex;
  align-items: center;
  gap: 6px;
}

.detail-ingredients-icon {
  color: var(--green-tp);
}

.detail-icons {
  width: 42px;
  height: 42px;
}

.detail-icons-text {
  color: white;
  font-size: 32px;

  display: flex;
  align-items: center;
  gap: 6px;
}

.detail-heart-icon {
  cursor: pointer;
}

.detail-heart-icon:active {
  scale: 1.2;
}

.detail-back-to-foods {
  color: var(--green-tp);

  display: flex;
}

.detail-back-to-foods:hover {
  opacity: 0.6;
  color: var(--green-tp);
}

.detail-btn-group {
  display: flex;
}

.detail-btn {
  padding: 6px 12px;
  width: fit-content;

  display: flex;
  align-items: center;

  gap: 6px;
}

.detail-label {
  font-size: 18px;
}

/* Add Food Review */

.modal {
  --bs-modal-header-border-color: rgba(255, 255, 255, 0.35);
  --bs-modal-footer-border-color: rgba(255, 255, 255, 0.35);
}

.modal-content {
  background-color: black;
  box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.35);
}

.btn-close {
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23FFF%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}

/* Review - Star Icon */

.detail-review-star-icon {
  cursor: pointer;
  margin-right: 6px;

  transition: 200ms;
}

/* End of Review - Star Icon */
.details-review-modalbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;

  padding: 24px;
}

.details-review-image {
  width: 350px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.modal-title {
  color: white;
}

.detail-review-label {
  font-size: 24px;
  color: white;
}

.detail-review-control {
  height: 100px;
  width: 400px;
}

/* Update Ingredients */

.detail-ingredients {
  font-size: 16px;
}

.detail-ingredients-button {
  height: 100% !important;
}

.detail-ingredients-icon {
  color: white;
}

.btn .icon-times {
  --bs-btn-color: red !important;
}

.detail-ingredients-button .icon-plus {
  color: green;
}

/* Review Section */

.detail-review-section {
  background: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;

  border-top: 2px solid rgba(3, 172, 14, 0.2);
}

.review-title {
  color: white;
  font-size: 32px;
}

.review-bubble {
  width: 500px;
  padding: 4px 12px;

  border: 2px solid rgba(3, 172, 14, 0.4);
  border-radius: 12px;

  display: flex;
  position: relative;

  box-shadow: 0px 0px 8px 1px rgba(255, 255, 190, 0.25);
}

.review-img {
  width: 60px;
  height: 60px;

  border-radius: 50%;

  margin-right: 16px;

  align-self: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.review-text-group {
  display: flex;

  flex-direction: column;

  justify-content: center;
}

.review-name {
  color: white;
  font-size: 20px;

  margin-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);

  width: fit-content;

  display: flex;
}

.review-comment {
  color: white;
  font-size: 16px;

  opacity: 0.8;
}

.review-icon {
  width: 16px;
  height: 16px;

  display: flex;

  margin-right: 4px;
}

.review-icon-text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
}

/* Media query */

@media screen and (max-width: 768px) {
  .detail-container {
    width: 90% !important;
  }
}

@media screen and (max-width: 530px) {
  .detail-food-img {
    width: 95%;

    border-radius: 16px;

    box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, 0.65);
  }

  .review-bubble {
    width: 95%;
    padding: 4px 12px;
  }
}
